<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Analysis</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Food Analysis</h1>
    </header>
    <main>
        <div class="container">
            <h2>Nutrition Analysis</h2>
            <a href="/nutrition-analysis">
                <button>Go to Nutrition Analysis</button>
            </a>
        </div>
        <div class="container">
            <h2>Calories Analysis</h2>
            <a href="/calories-analysis">
                <button>Go to Calories Analysis</button>
            </a>
        </div>
    </main>
</body>
</html>
